{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "stage-3",
    "react"
  ],
  "plugins": [
    "transform-class-properties"
  ]
}
